---
import Layout from "~/layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";
import Hero3 from "~/components/widgets/Hero3.astro";
import Note from "~/components/widgets/Note.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import beaufortRoadmap from "~/components/common/beaufortRoadmap.astro";
import Image from "~/components/common/Image.astro";
import Pricing2 from "~/components/widgets/Pricing2.astro";

const metadata = {
  title: "Lighthouse Tour | High Tide Aviation",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3
    reversed={true}
    actions={[
      {
        variant: "custom",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/327864/?full-items=yes&flow=615647",
        target: "_blank",
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    openHours={[
      {
        weekday: "Monday - Saturday",
        time: "9:00 AM - 5:00 PM",
      },
      {
        weekday: "Sunday",
        time: "Closed",
      },
    ]}
    price={140}
    image={{
      src: "~/assets/images/happy-high-tide-student.jpg",
      alt: "happy couple on a helicopter tour",
    }}
  >
    <Fragment slot="title">
      St Simons Island
      <br />
      <span
        class="text-sky-400 text-5xl lg:text-7xl dark:text-sky-600 highlight"
        >Golden Isles Passport</span
      >
    </Fragment>
    <Fragment slot="airport">
      <span class="text-sky-900 font-bold text-xl dark:text-sky-700 highlight"
        >Departs from McKinnon-St Simons Island Airport (KSSI)</span
      ><br />
      <span class="text-gray-700 text-base dark:text-gray-100 highlight"
        >1759 Demere Road – St Simons Island, GA</span
      >
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <div class="dark:text-white bg-gray-200/70 text-primary rounded px-2 py-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum delectus dolorem assumenda officia officiis architecto a, quae sunt obcaecati placeat illo expedita praesentium ab blanditiis esse exercitationem!
      </div>
    </Fragment> -->
  </Hero3>

  <!-- Note Widget ******************* -->
  <Note description="Airplane only tours at this location." />

  <section id="tour-info" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-slate-300 to-gray-300 dark:from-slate-700 dark:to-gray-700 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-2xl text-center text-gray-700 dark:text-gray-300 font-semibold leading-7 w-full"
              >
                Airplane Only
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-slate-900 dark:text-slate-500 text-4xl w-full"
              >
                Golden Isles Passport
              </p>
              <p
                class="mt-6 text-center text-lg leading-8 text-gray-800 dark:text-gray-200 w-full"
              >
                This flight tour covers 50 miles and offers a unique experience.
                With this being our most extensive tour, you will have the
                chance to see St. Simons Pier, St. Simons Sound, Driftwood
                Beach, Jekyll Point, Shark Tooth Beach, Jekyll Island Pier, Fort
                Frederica, and many more interesting sights. This tour stretches
                from the tip of Little St. Simons, including Egg Island and
                Altamaha Sound, and extends all the way down past Jekyll Point.
                This experience is one you don’t want to miss.
              </p>
              <div
                class="flex flex-col justify-center items-center align-middle"
              >
                <h3
                  class="mt-7 uppercase italic text-3xl text-slate-800 dark:text-slate-400 font-black"
                >
                  Included
                </h3>
                <p class="mt-0 text-lg text-slate-500 font-semibold">
                  Notable tour sights
                </p>
                <ul class="mt-4 space-y-1">
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:ripple" />
                    <span class="ml-2 font-medium">St Simons Pier</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:building-lighthouse" />
                    <span class="ml-2 font-medium">St Simons Lighthouse</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:plant-2" />
                    <span class="ml-2 font-medium">Neptune Park</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:ripple" />
                    <span class="ml-2 font-medium">St Simons Sound</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:beach" />
                    <span class="ml-2 font-medium">Driftwood Beach</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:golf" />
                    <span class="ml-2 font-medium"
                      >Jekyll Island Club Resort</span
                    >
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:beach" />
                    <span class="ml-2 font-medium">St. Andrews Beach</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:map-pin" />
                    <span class="ml-2 font-medium">Jekyll Point</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:beach" />
                    <span class="ml-2 font-medium">Shark Tooth Beach</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:ripple" />
                    <span class="ml-2 font-medium">Jekyll Island Pier</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Hawkins Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:building-fortress" />
                    <span class="ml-2 font-medium">Fort Frederica</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:ripple" />
                    <span class="ml-2 font-medium"
                      >King and Prince Golf Course</span
                    >
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:home" />
                    <span class="ml-2 font-medium">Hampton Plantation</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:golf" />
                    <span class="ml-2 font-medium">Ocean Forest Golf Club</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:golf" />
                    <span class="ml-2 font-medium">Frederica Golf Club</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:golf" />
                    <span class="ml-2 font-medium">Altamaha Sound</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Egg Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:building-bridge" />
                    <span class="ml-2 font-medium">Sidney Lanier Bridge</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Sea Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Little St Simons Island</span
                    >
                  </li>
                </ul>
                <div
                  class="mt-8 p-6 flex flex-col justify-center items-center align-middle bg-gray-200 dark:bg-gray-800 rounded-lg"
                >
                  <ul class="space-y-1">
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">50 miles | 40 minutes</span
                      >
                    </li>
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">Narrated by pilot</span>
                    </li>
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">Historic landmarks</span>
                    </li>
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">Wildlife sightings</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="h-full w-full flex flex-col justify-center align-middle items-center"
          >
            <Image
              class="rounded shadow-lg"
              src="~/assets/images/st-simons-island-ga-tour-map-high-tide-aviation-aerial-tours.jpg"
              alt="tour-map-route"
            />
            <div
              class="mt-3 flex justify-center bg-gray-100 dark:bg-gray-900 font-semibold rounded p-6 shadow-lg w-full lg:w-1/2"
            >
              <ul role="list" class="space-y-3">
                <li>
                  <a
                    class="flex align-middle items-center hover:underline hover:text-[#FFEB3B] text-gray-800 dark:text-gray-200"
                    href="/st-simons-island/lighthouse-tour"
                  >
                    <div class="mr-2 rounded h-5 w-5 bg-[#FFEB3B]"></div>
                    <span>Lighthouse Tour</span>
                  </a>
                </li>
                <li>
                  <a
                    class="flex align-middle items-center hover:underline hover:text-[#2196F3] text-gray-800 dark:text-gray-200"
                    href="/st-simons-island/jekyll-island"
                  >
                    <div class="mr-2 rounded h-5 w-5 bg-[#2196F3]"></div>
                    <span>Jekyll Island</span>
                  </a>
                </li>
                <li>
                  <a
                    class="flex align-middle items-center hover:underline hover:text-[#4CAF50] text-gray-800 dark:text-gray-200"
                    href="/st-simons-island/golden-isles-passport"
                  >
                    <div class="mr-2 rounded h-5 w-5 bg-[#4CAF50]"></div>
                    <span>Golden Isles Passport</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Location *********** -->
  <section id="location" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-slate-400 to-sky-700 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-gray-300 font-semibold leading-7 w-full"
              >
                Come Fly Over
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-slate-900 text-4xl w-full"
              >
                St Simons Island, GA
              </p>
              <p
                class="mt-6 text-center text-lg leading-8 text-gray-100 w-full"
              >
                Our St Simons Island location is located at the McKinnon-St
                Simons Island Airport (KSSI) in St Simons Island, Georgia. Here,
                you’ll find our airplane tours and our world-class flight school
                training local pilots across the southeastern coast. <strong
                  >Come visit us today!</strong
                >
              </p>
              <dl
                class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
              >
                <!-- <div class="relative">
              <a href="#" class="btn-red">Meet the Team</a>
            </div> -->
              </dl>
            </div>
          </div>
          <div class="h-full w-full flex justify-center align-middle">
            <iframe
              class="rounded"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1748191.0484641409!2d-83.82412314375001!3d31.153184299999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e4db2855161e87%3A0xa28de7768105440a!2sHigh%20Tide%20Aviation%20Air%20Tours!5e0!3m2!1sen!2sco!4v1714947945708!5m2!1sen!2sco"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pricing Widget ******************* -->

  <Pricing2
    id="tours"
    title="Select from the tours below"
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    prices={[
      {
        image: {
          src: "~/assets/images/IMG_3331.jpg",
          alt: "happy woman looking out of an airplane window",
        },
        city: "St Simons Island",
        title: "Lighthouse Tour",
        subtitle:
          "Fly past St Simons Island's historic lighthouse and coastline.",
        price: 80,
        period: "per person",
        items: [
          {
            description: "15 minutes of flight",
            icon: "tabler:hourglass",
          },
          {
            description: "17 miles of coastline",
            icon: "tabler:ripple",
          },
          {
            description: "Airplane only",
            icon: "tabler:plane-departure",
          },
        ],
        callToAction: {
          target: "_blank",
          text: "Book Now",
          href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/327792/?full-items=yes&flow=615647",
        },
        callToAction2: {
          target: "_self",
          text: "More Details",
          href: "/st-simons-island/lighthouse-tour",
        },
      },
      {
        image: {
          src: "~/assets/images/IMG_9901.jpg",
          alt: "happy woman looking out of an airplane window",
        },
        city: "St Simons Island",
        title: "Jekyll Island",
        subtitle: "Explore Jekyll Island’s historical and natural beauty.",
        price: 100,
        period: "per person",
        items: [
          {
            description: "20 minutes of flight",
            icon: "tabler:hourglass",
          },
          {
            description: "25 miles of coastline",
            icon: "tabler:ripple",
          },
          {
            description: "Airplane only",
            icon: "tabler:plane-departure",
          },
        ],
        callToAction: {
          target: "_blank",
          text: "Book Now",
          href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/327860/?full-items=yes&flow=615647",
        },
        callToAction2: {
          target: "_self",
          text: "More Details",
          href: "/st-simons-island/jekyll-island",
        },
      },
      {
        image: {
          src: "~/assets/images/IMG_7131.jpg",
          alt: "happy woman looking out of an airplane window",
        },
        hasRibbon: true,
        ribbonTitle: "popular",
        city: "St Simons Island",
        title: "Golden Isles Passport",
        subtitle:
          "Comprehensive aerial tour of the Golden Isles’ key attractions.",
        price: 140,
        period: "per person",
        items: [
          {
            description: "40 minutes of flight",
            icon: "tabler:hourglass",
          },
          {
            description: "50 miles of coastline",
            icon: "tabler:ripple",
          },
          {
            description: "Airplane only",
            icon: "tabler:plane-departure",
          },
        ],
        callToAction: {
          target: "_blank",
          text: "Book Now",
          href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/327864/?full-items=yes&flow=615647",
        },
        callToAction2: {
          target: "_self",
          text: "More Details",
          href: "/st-simons-island/golden-isles-passport",
        },
      },
    ]}
  />
</Layout>
