---
import Layout from "~/layouts/PageLayout.astro";

import Hero3 from "~/components/widgets/Hero3.astro";
import Note from "~/components/widgets/Note.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import beaufortRoadmap from "~/components/common/beaufortRoadmap.astro";
import Image from "~/components/common/Image.astro";
import Pricing2 from "~/components/widgets/Pricing2.astro";

const metadata = {
  title: "Southport | High Tide Aviation",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3
    actions={[
      {
        variant: "primary",
        text: "Choose a Tour",
        href: "#tours",
        target: "_self",
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    openHours={[
      {
        weekday: "Monday - Thursday",
        time: "10:00 AM - 5:00 PM",
      },
      {
        weekday: "Friday - Saturday",
        time: "10:00 AM - 6:00 PM",
      },
      {
        weekday: "Sunday",
        time: "Closed",
      },
    ]}
    image={{
      src: "~/assets/images/IMG_1676.jpg",
      alt: "Helicopter on the ground ready to take off",
    }}
  >
    <Fragment slot="title">
      Let's Fly Above
      <br />
      <span class="text-sky-400 text-7xl lg:text-9xl dark:text-white highlight"
        >Southport</span
      >
    </Fragment>

    <Fragment slot="airport">
      <span class="text-sky-900 font-bold text-xl dark:text-sky-700 highlight"
        >Departs from Cape Fear Regional Jetport (KSUT)</span
      ><br />
      <span class="text-gray-700 text-base dark:text-gray-100 highlight"
        >4345 Airport Road SE – Southport, NC</span
      >
    </Fragment>
    <Fragment slot="subtitle">
      <div class="dark:text-white text-primary text-2xl font-bold px-2 py-5">
        Airplane and Helicopter
      </div>
    </Fragment>
  </Hero3>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Roadmap Widget **************** -->
  <section id="beaufort-roadmap">
    <div
      class="text- bg-gradient-to-b from-gray-100 to-gray-50 dark:from-slate-800 dark:to-slate-500 py-12 sm:py-24"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto w-full lg:mx-0">
          <h2
            class="xl:text-5xl text-4xl font-bold tracking-tight text-main-red text-center"
          >
            The High Tide Aviation Experience
          </h2>
          <p
            class="mt-4 text-lg leading-2 text-black dark:text-white text-center"
          >
            Fly over Southport and witness its coastal attractions and marine
            beauty
          </p>
        </div>
        <div class="py-8">
          <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                1
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Lift off from Cape Fear Regional Jetport
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  Begin your journey at <strong
                    >Cape Fear Regional Jetport (KSUT).</strong
                  > After a brief introduction with your pilot, board the helicopter
                  or airplane for takeoff. Our tours are designed for comfort and
                  provide panoramic views from the start.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/IMG_0730.jpg"
                alt="certified-instructor-explaining-instrument-training"
              />
            </div>
          </div>

          <div
            class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
          >
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                2
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Historic Landmarks
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  Tour the historic <strong>Oak Island Lighthouse</strong> and the
                  ruins of <strong>Fort Caswell</strong>. These flights offer a
                  unique perspective on Southport’s rich maritime history and
                  its role in coastal defense.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/IMG_0730.jpg"
                alt="certified-instructor-delivering-written-exam"
              />
            </div>
          </div>

          <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                3
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Marine and Wildlife Views
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  As you fly over the coastline, observe the <strong
                    >diverse marine life</strong
                  >
                  and natural habitats. The area is known for its <strong
                    >pristine beaches</strong
                  >
                  and the opportunity to see <strong>aquatic wildlife</strong> in
                  their natural environment.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/IMG_0730.jpg"
                alt="a-pilot-giving-thumbs-up-in-cabin-in-flight"
              />
            </div>
          </div>

          <div
            class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
          >
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                4
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Extensive Beach Tours
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  Conclude your tour with expansive views of Southport’s
                  beaches, from <strong>Caswell Beach</strong> to <strong
                    >Bald Head Island</strong
                  >. Return to the jetport with a new impression of the area’s
                  natural beauty.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/IMG_0730.jpg"
                alt="a-happy-pilot-next-to-aircraft"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pricing Widget ******************* -->

  <Pricing2
    id="tours"
    title="Select from the tours below"
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    prices={[
      {
        image: {
          src: "~/assets/images/IMG_1676.jpg",
          alt: "Helicopter on the ground ready to take off",
        },
        city: "Southport",
        title: "Cape Fear Passport",
        btnSpace: true,
        subtitle: "Comprehensive aerial tour of Southport's landmarks.",
        price: 140,
        period: "per person",
        hasRibbon: true,
        ribbonTitle: "popular",
        items: [
          {
            description: "35 minutes of flight",
            icon: "tabler:hourglass",
          },
          {
            description: "50 miles of coastline",
            icon: "tabler:ripple",
          },
          {
            description: "Airplane or helicopter",
            icon: "tabler:cloud-heart",
          },
        ],
        callToAction: {
          target: "_blank",
          text: "Book Now",
          href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32454/calendar/2024/05/?full-items=yes&flow=335644",
        },
        callToAction2: {
          target: "_self",
          text: "More Details",
          href: "/southport/cape-fear-passport",
        },
      },
      {
        image: {
          src: "~/assets/images/IMG_3964.jpg",
          alt: "beach view from airplane window",
        },
        city: "Southport",
        title: "Beach Lover",
        subtitle: "Extensive tour of over 50 miles of beautiful beaches.",
        price: 225,
        period: "per person",
        items: [
          {
            description: "60 minutes of flight",
            icon: "tabler:hourglass",
          },
          {
            description: "85 miles of coastline",
            icon: "tabler:ripple",
          },
          {
            description: "Airplane or helicopter",
            icon: "tabler:cloud-heart",
          },
        ],
        callToAction: {
          target: "_blank",
          text: "Book Now",
          href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32452/?full-items=yes&flow=335644&u=da3e79c0-d261-4c84-968c-c5d7b79f8038&from-ssl=yes&ga4t=&g4=yes&ad-adv=F6QBYONAWJEHZKKCQC2O6Z&ad-pix=6EWVJA72QFH3FFB5UCYBNK&cp=no&csp=no&back=https%3A%2F%2Fflyhightide.com%2Ffly-with-us-southport-nc%2Fscenic-air-tours%2F&language=en-us",
        },
        callToAction2: {
          target: "_self",
          text: "More Details",
          href: "/southport/beach-lover",
        },
      },
      {
        image: {
          src: "~/assets/images/IMG_0762.jpg",
          alt: "Helicopter on the ground ready to take off",
        },
        city: "Southport",
        title: "Bald Head Island",
        btnSpace: true,
        subtitle: "Tour the serene Bald Head Island from above.",
        price: 89,
        period: "per person",
        items: [
          {
            description: "20 minutes of flight",
            icon: "tabler:hourglass",
          },
          {
            description: "30 miles of coastline",
            icon: "tabler:ripple",
          },
          {
            description: "Helicopter only",
            icon: "tabler:helicopter",
          },
        ],
        callToAction: {
          target: "_blank",
          text: "Book Now",
          href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32461/?full-items=yes&flow=335644&u=da3e79c0-d261-4c84-968c-c5d7b79f8038&from-ssl=yes&ga4t=&g4=yes&ad-adv=F6QBYONAWJEHZKKCQC2O6Z&ad-pix=6EWVJA72QFH3FFB5UCYBNK&cp=no&csp=no&back=https%3A%2F%2Fflyhightide.com%2Ffly-with-us-southport-nc%2Fscenic-air-tours%2F&language=en-us",
        },
        callToAction2: {
          target: "_self",
          text: "More Details",
          href: "/southport/bald-head-island",
        },
      },
    ]}
  />

  <!-- Location *********** -->
  <section id="location" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-slate-400 to-sky-700 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-gray-300 font-semibold leading-7 w-full"
              >
                Come Fly Over
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-slate-900 text-4xl w-full"
              >
                Southport, NC
              </p>
              <p
                class="mt-6 text-center text-lg leading-8 text-gray-100 w-full"
              >
                Our Southport location is conveniently located at the Cape Fear
                Regional Jetport in Southport, North Carolina. Here, you’ll find
                our tour operations and our flight school training pilots across
                the southeast coast. Come visit us today!
              </p>
              <dl
                class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
              >
                <!-- <div class="relative">
              <a href="#" class="btn-red">Meet the Team</a>
            </div> -->
              </dl>
            </div>
          </div>
          <div class="h-full w-full flex justify-center align-middle">
            <iframe
              class="rounded"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1694922.496540005!2d-80.51713514375002!3d33.9309545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89aa07e3b3a0b82b%3A0xe199a7d4a214440f!2sHigh%20Tide%20Aviation!5e0!3m2!1sen!2sco!4v1714928747011!5m2!1sen!2sco"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
