---
import Layout from "~/layouts/PageLayout.astro";
import { getHomePermalink } from "~/utils/permalinks";

const metadata = {
  title: "500 Server Error",
};
---

<Layout metadata={metadata}>
  <section
    id="error-500"
    class="bg-404 bg-cover flex items-center h-screen-2/3 lg:h-screen p-16 bg-center bg-no-repeat bg-fixed"
  >
    <div
      class="container bg-white/90 dark:bg-slate-900/90 rounded-lg py-8 lg:p-12 lg:max-w-4xl flex flex-col items-center justify-center px-5 mx-auto my-8"
    >
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-black text-6xl lg:text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">500</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">
          Oops, something went wrong.
        </p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          Try refreshing the page or come back later.
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4"
          >Back to homepage</a
        >
      </div>
    </div>
  </section>
</Layout>
