---
import Layout from "~/layouts/PageLayout.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import ContactUs from "~/components/widgets/Contact.astro";
import Features2 from "~/components/widgets/Features2.astro";
import ContactForm from "~/components/widgets/ContactForm";

const metadata = {
  title: "Contact",
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <ContactForm client:visible />

  <!-- <ContactUs
    title="Drop us a message today!"
    subtitle="You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: "text",
        name: "name",
        label: "Name",
      },
      {
        type: "email",
        name: "email",
        label: "Email",
      },
    ]}
    textarea={{
      label: "Message",
    }}
    disclaimer={{
      label:
        "By submitting this contact form, you acknowledge and agree to the collection of your personal information.",
    }}
    description="Our support team typically responds within 24 business hours."
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      /* {
        title: 'General support',
        description: `Chat with us for inquiries related to account management, website navigation, payment issues, accessing purchased templates or general questions about the website's functionality.`,
      },
      {
        title: 'Contact sales',
        description:
          'Chat with us for questions about purchases, customization options, licensing for commercial use, inquiries about specific template, etc.',
      },
      {
        title: 'Technical support',
        description:
          'Chat with us when facing issues like template installation, problems editing difficulties, compatibility issues with software or download errors, or other technical challenges related to using the templates.',
      }, */
      {
        title: "Phone",
        description: `<a href="tel:(910) 294-5871" class="hover:text-sky-500 hover:underline">(910) 294-5871</a>`,
        icon: "tabler:headset",
      },
      {
        title: "Email",
        description: `<a href="mailto:office@flyhightide.com"  class="hover:text-sky-500 hover:underline">office@flyhightide.com</a>`,
        icon: "tabler:mail",
      },
      {
        title: "Location",
        description: `<a href="https://maps.app.goo.gl/3v5H36b1dntqvHFu9" class="hover:text-sky-500 hover:underline" target="_blank">4345 Airport Road SE,  Southport, NC 28461</a>`,
        icon: "tabler:map-pin",
      },
    ]}
  />
</Layout>
