---
import Layout from "~/layouts/PageLayout.astro";
import Hero3 from "~/components/widgets/Hero3.astro";
import Note from "~/components/widgets/Note.astro";
import Features2 from "~/components/widgets/Features2.astro";
import SimpleHero from "~/components/widgets/SimpleHero.astro";
import Pricing2 from "~/components/widgets/Pricing2.astro";
import SouthportTours from "~/components/tours/SouthportTours.astro";
import BeaufortTours from "~/components/tours/BeaufortTours.astro";
import StSimonsTours from "~/components/tours/StSimonsTours.astro";
import { load } from "js-yaml";

const metadata = {
  title: "Gift Cards | High Tide Aviation",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <SimpleHero
    title="Give the Gift of Flight"
    image={{
      src: "~/assets/images/cape-fear-north-carolina.jpg",
      alt: "cape-fear-north-carolina",
      loading: "eager",
    }}
  />

  <!-- Note Widget ******************* -->
  <Note />

  <Features2
    id="locations"
    title="High Tide Tour Locations"
    tagline="Select a Coastline"
    columns={3}
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    items={[
      {
        title: "Southport, NC",
        description: "Airplane + Helicopter",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          target: "_blank",
          text: "Buy Gift Card",
          href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/208253/?full-items=yes&back=https://flyhightide.com/fly-with-us-southport-nc/scenic-air-tours/&flow=335643&g4=yes",
        },
        classes: {
          panel: "bg-southport-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-md lg:text-lg uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
      {
        title: "St Simons Island, GA",
        description: "Airplane Only",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          target: "_blank",
          text: "Buy Gift Card",
          href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/350303/?full-items=yes&flow=621000",
        },
        classes: {
          panel: "bg-simons-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
      {
        title: "Beaufort, SC",
        description: "Airplane Only",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          target: "_blank",
          text: "Buy Gift Card",
          href: "https://fareharbor.com/embeds/book/flyhightide/items/510158/?full-items=yes&back=https://flyhightide.com/scenic-air-tours-beaufort-sc/&flow=1034072&g4=yes",
        },
        classes: {
          panel: "bg-beaufort-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
    ]}
  />
</Layout>
