---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import { Icon } from 'astro-icon/components';


const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Choose Location',
        href: '/locations',
        target: '_self',
        icon: 'tabler:map-pin',
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    image={{ src: '~/assets/images/IMG_0743.jpg', alt: 'Helicopter on the ground ready to take off' }}
  >
    <Fragment slot="title">
      Let's Fly Above
      <br>
      <span class="text-sky-400 text-7xl lg:text-9xl dark:text-white highlight">Southport</span>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <div class="dark:text-white bg-gray-200/70 text-primary rounded px-2 py-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum delectus dolorem assumenda officia officiis architecto a, quae sunt obcaecati placeat illo expedita praesentium ab blanditiis esse exercitationem!
      </div>
    </Fragment> -->
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget ************** -->

  <Features2
    id="locations"
    title="From Our Locations"
    tagline="Select a City"
    columns={3}
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    items={[
      {
        title: 'Southport, NC',
        description: 'Open Fri-Sun',
        icon: 'tabler:map-pin',
        callToAction: {
          variant: 'secondary',
          text: 'Explore',
          href: '#',
        },
        classes: {
          panel: 'bg-southport-tour bg-cover bg-center',
          title: 'text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white',
          description: 'text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white',
          icon: 'text-slate-700 dark:text-white',
        },
      },
      {
        title: 'St. Simons Island, GA',
        description: 'Open Fri-Sun',
        icon: 'tabler:map-pin',
        callToAction: {
          variant: 'secondary',
          text: 'Explore',
          href: '#',
        },
        classes: {
          panel: 'bg-simons-tour bg-cover bg-center',
          title: 'text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white',
          description: 'text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white',
          icon: 'text-slate-700',
        },
      },
      {
        title: 'Beaufort, SC',
        description: 'Open Fri-Sun',
        icon: 'tabler:map-pin',
        callToAction: {
          variant: 'secondary',
          text: 'Explore',
          href: '#',
        },
        classes: {
          panel: 'bg-beaufort-tour bg-cover bg-center',
          title: 'text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white',
          description: 'text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white',
          icon: 'text-slate-700',
        },
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Ready to Fly?"
    tagline="4 Simple Steps"
    subtitle='Booking and flying on a helicopter tour is easier than you think. Book online in just a few easy steps or stop by one of our locations.'
    items={[
      {
        title: 'Step 1: <span class="font-medium">Select a location</span>',
        description:
          "Head over tour our tour location page where you can pick a state and city.",
        icon: 'tabler:map-pin',
        classes: {
          icon: 'text-gray-500',
        }
      },
      {
        title: 'Step 2: <span class="font-medium">Pick a tour</em>',
        description:
          `Each location usually has around three to five tour options. Read through each route and select the view you’d like most.`,
        icon: 'tabler:checklist',
        classes: {
          icon: 'text-gray-500',
        }
      },
      {
        title: 'Step 3: <span class="font-medium">Add passengers</span>',
        description:
        'We require a minimum of two passengers to fly. Per trip, we can take up to three passengers. If you are a party of more than 3 we can divide your party into equal groups.',
        icon: 'tabler:users-plus',
        classes: {
          icon: 'text-gray-500',
        }
      },
      {
        title: 'Step 4: <span class="font-medium">Get ready to fly</span>',
        description: `Add your payment method & start the countdown to your flight! Upon checkout, you will receive an email confirmation and your tickets.`,
        icon: 'tabler:check',
        classes: {
          icon: 'text-gray-500',
        }
      },
    ]}
    image={{
      src: '~/assets/images/IMG_0470.jpg', alt: 'Helicopter on the ground ready to take off'
    }}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from Real Customers"
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'View Gift Cards',
      href: '/',
    }]}
    title=" Gift Cards Available"
    subtitle="Give the gift of flight with a helicopter tour gift card. Perfect for any occasion."
    bg='<div class="absolute inset-0 bg-beaufort-tour bg-cover bg-center" aria-hidden="true"></div>'
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    bg='<div class="absolute inset-0 bg-gradient-to-b from-gray-200 to-gray-300 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
</Layout>
