---
import Layout from "~/layouts/PageLayout.astro";
import Image from "~/components/common/Image.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import Brands from "~/components/widgets/Brands.astro";
import ScreenBanner from "../components/ScreenBanner.astro";
import DonationBanner from "../components/DonationBanner.astro";

const metadata = {
  title:
    "Airplane and Helicopter Tours in Southport, NC, St Simons Island, GA, and Wilmington, NC | High Tide Aviation",
  description:
    "High Tide Aviation offers premier aerial tours across two spectacular locations: Southport, NC, St Simons Island, GA, and Wilmington, NC. Choose from our diverse tour options including both airplane and helicopter rides in Southport, and exclusive airplane tours in St Simons and Wilmington. Each flight is an opportunity to take in breathtaking landscapes and historical landmarks, guided by our experienced pilots who ensure a safe and memorable experience. Perfect for tourists, photography enthusiasts, and anyone looking to celebrate a special occasion. Book your next adventure with High Tide Aviation and see the Southeast coast from a new perspective!",
  keywords:
    "high tide aviation, high tide helicopters, helicopter rides in wilmington nc, helicopter rides wilmington nc, helicopter rides in nc, helicopter north carolina, helicopter nc, wilmington nc helicopter rides, helicopter training nc, helicopter flight training nc, airplane tours near me, wilmington helicopter rides, wilmington nc helicopter rides, high tide helicopters, air tours near me, airplane tours southport nc, southport nc helicopter tours, golden isles airplane tours, jekyll island tours, lighthouse airplane tour, scenic flights georgia, aerial tours ga, barrier island airplane tours, hilton head tours, scenic flights south carolina, aerial tours sc, book aerial tour",
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: "special",
        text: "Choose Location",
        href: "/#locations",
        target: "_self",
        icon: "tabler:map-pin",
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    image={{
      src: "~/assets/images/high-tide-aviation-team-southport.jpg",
      alt: "Helicopter on the ground ready to take off",
    }}
  >
    <Fragment slot="title"> Let's Fly Above </Fragment>
  </Hero>

  <!-- <DonationBanner
    btnId="dismiss-button"
    btnTitle="Sign Up Now"
    url="https://ce.coastalpines.edu/search/publicCourseSearchDetails.do?method=load&courseId=1020462"
  /> -->

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget ************** -->

  <Features2
    id="locations"
    title="High Tide Tour Locations"
    tagline="Select a Coastline"
    columns={3}
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    items={[
      {
        title: "Southport, NC",
        description: "Airplane + Helicopter",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          text: "Explore",
          href: "/southport",
        },
        classes: {
          panel: "bg-southport-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-md lg:text-lg uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
      {
        title: "St Simons Island, GA",
        description: "Airplane Only",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          text: "Explore",
          href: "/st-simons-island",
        },
        classes: {
          panel: "bg-simons-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
      {
        title: "Wilmington, NC",
        description: "Airplane Only",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          text: "Explore",
          href: "/wilmington",
        },
        classes: {
          panel: "bg-wilmington-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
    ]}
  />

  <section id="our-tours-southport" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-sky-100 dark:from-sky-900 to-slate-500 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center justify-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-muted font-semibold leading-7 w-full"
              >
                Our Tours In
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-primary text-4xl w-full"
              >
                Southport, NC
              </p>
              <div
                class="mt-8 flex justify-center bg-gray-100 dark:bg-gray-900 rounded p-6 shadow-lg w-full lg:w-1/2"
              >
                <ul role="list" class="space-y-3">
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#9fc242] text-gray-800 dark:text-gray-200"
                      href="/southport/beach-lover"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#9fc242]"></div>
                      <span>Beach Lover</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#bfc1c4] text-gray-800 dark:text-gray-200"
                      href="/southport/oak-island"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#bfc1c4]"></div>
                      <span>Oak Island</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#ffa64b] text-gray-800 dark:text-gray-200"
                      href="/southport/lighthouse-tour"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#ffa64b]"></div>
                      <span>Lighthouse Tour</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#ffe94a] text-gray-800 dark:text-gray-200"
                      href="/southport/bald-head-island"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#ffe94a]"></div>
                      <span>Bald Head Island</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#970c5f] text-gray-800 dark:text-gray-200"
                      href="/southport/cape-fear-passport"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#970c5f]"></div>
                      <span>Cape Fear Passport</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="h-full w-full flex justify-center align-middle items-center"
          >
            <Image
              class="rounded shadow-lg"
              src="~/assets/images/HTA-map-southport.jpg"
              alt="tour-map-route"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-tours-st-simons" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-sky-100 dark:from-sky-900 to-slate-500 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center justify-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-muted font-semibold leading-7 w-full"
              >
                Our Tours In
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-primary text-4xl w-full"
              >
                St Simons Island, GA
              </p>
              <div
                class="mt-8 flex justify-center bg-gray-100 dark:bg-gray-900 font-semibold rounded p-6 shadow-lg w-full lg:w-1/2"
              >
                <ul role="list" class="space-y-3">
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#242246] text-gray-800 dark:text-gray-200"
                      href="/st-simons-island/lighthouse-tour"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#242246]"></div>
                      <span>Lighthouse Tour</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#00a94a] text-gray-800 dark:text-gray-200"
                      href="/st-simons-island/jekyll-island"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#00a94a]"></div>
                      <span>Jekyll Island</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#de5e29] text-gray-800 dark:text-gray-200"
                      href="/st-simons-island/golden-isles-passport"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#de5e29]"></div>
                      <span>Golden Isles Passport</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="h-full w-full flex justify-center align-middle items-center order-first"
          >
            <Image
              class="rounded shadow-lg"
              src="~/assets/images/st-simons-island-ga-tour-map-high-tide-aviation-aerial-tours.jpg"
              alt="tour-map-route"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-tours-wilmington" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-sky-100 dark:from-sky-900 to-slate-500 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center justify-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-muted font-semibold leading-7 w-full"
              >
                Our Tours In
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-primary text-4xl w-full"
              >
                Wilmington, NC
              </p>
              <div
                class="mt-8 flex justify-center bg-gray-100 dark:bg-gray-900 rounded p-6 shadow-lg w-full lg:w-1/2"
              >
                <ul role="list" class="space-y-3">
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#f3aeb0] text-gray-800 dark:text-gray-200"
                      href="/wilmington/battleship-to-the-beach"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#f3aeb0]"></div>
                      <span>Battleship to the Beach</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#3aa9d9] text-gray-800 dark:text-gray-200"
                      href="/wilmington/masonboro-excursion"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#3aa9d9]"></div>
                      <span>Masonboro Excursion</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#8c8885] text-gray-800 dark:text-gray-200"
                      href="/wilmington/topsail-trek"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#8c8885]"></div>
                      <span>Topsail Trek</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#e8c481] text-gray-800 dark:text-gray-200"
                      href="/wilmington/cape-fear-expedition"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#e8c481]"></div>
                      <span>Cape Fear Expedition</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#33b36b] text-gray-800 dark:text-gray-200"
                      href="/wilmington/beach-lover-tour"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#33b36b]"></div>
                      <span>Beach Lover Tour</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="h-full w-full flex justify-center align-middle items-center"
          >
            <Image
              class="rounded shadow-lg"
              src="~/assets/images/wilmington-tours-map.jpg"
              alt="tour-map-route"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Steps Widget ****************** -->
  <Steps
    title="Ready to Fly?"
    tagline="4 Simple Steps"
    subtitle=`Booking and flying on a High Tide Aviation aerial tour is easier than you think. Book online in just a few easy steps or stop by one of <a href="#locations" class="text-blue-500 hover:underline">our locations</a>.`
    items={[
      {
        title: 'Step 1: <span class="font-medium">Select a location</span>',
        description:
          "Choose which coastline you’d like to fly over, from North Carolina to South Carolina to Georgia.",
        icon: "tabler:map-pin",
        classes: {
          icon: "text-gray-500",
        },
      },
      {
        title: 'Step 2: <span class="font-medium">Pick a tour</em>',
        description: `Each location has between three and six tour options. Read through each route and select the view you’d like most.`,
        icon: "tabler:checklist",
        classes: {
          icon: "text-gray-500",
        },
      },
      {
        title: 'Step 3: <span class="font-medium">Add passengers</span>',
        description:
          "There is no minimum passenger count for airplane tour bookings, but we do require a minimum of two passengers for helicopter tour bookings. Add and subtract passengers via the booking link once at checkout.",
        icon: "tabler:users-plus",
        classes: {
          icon: "text-gray-500",
        },
      },
      {
        title: 'Step 4: <span class="font-medium">Get ready to fly</span>',
        description: `Add your payment method & start the countdown to your flight! Upon checkout, you will receive an email confirmation and your tickets.`,
        icon: "tabler:check",
        classes: {
          icon: "text-gray-500",
        },
      },
    ]}
    image={{
      src: "~/assets/images/high-tide-helicopter-with-pilot-ready-to-takeoff.jpg",
      alt: "Helicopter on the ground ready to take off",
    }}
  />

  <section
    class="bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900 py-24 px-5"
    aria-hidden="true"
  >
    <h2
      class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl mx-auto w-fit"
    >
      Words from Our Guests
    </h2>
    <div
      class="elfsight-app-73a2fa53-0ca0-4c0b-a823-75ecf2091cd2 my-10"
      data-elfsight-app-lazy
    >
    </div>
    <div
      class="elfsight-app-8cf0f9d3-129c-465d-ae52-36274fd54c7c"
      data-elfsight-app-lazy
    >
    </div>

    <!-- <a
      href="/about/testimonials"
      target="_self"
      rel="noopener noreferrer"
      class="btn btn-tertiary mx-auto w-fit block mt-10"
      >Read more testimonials</a
    > -->
  </section>

  <Brands
    title="See More Guests Reviews"
    subtitle="Check out what our guests have to say from their tours with High Tide."
    icons={[]}
    imagesLink={[
      {
        src: "~/assets/images/Tripadvisor-Logo.webp",
        alt: "Tripadvisor",
        href: "https://www.tripadvisor.com/Attraction_Review-g49403-d7726762-Reviews-High_Tide_Helicopters-Oak_Island_North_Carolina.html",
      },
      {
        src: "~/assets/images/Google-logo.webp",
        alt: "Google",
        href: "https://maps.app.goo.gl/kCbEjLT6HXo9AykC6",
      },
      {
        src: "~/assets/images/Facebook-logo.webp",
        alt: "Facebook",
        href: "https://www.facebook.com/flyhightide/reviews",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "View Gift Cards",
        target: "_self",
        href: "/gift-cards",
      },
    ]}
    title=" Gift Cards Available"
    subtitle="Give the gift of a flight tour with a High Tide gift card."
    bg='<div class="absolute inset-0 bg-gift-card bg-cover bg-center" aria-hidden="true"></div>'
  />
</Layout>

<script
  src="https://static.elfsight.com/platform/platform.js"
  data-use-service-core
  defer></script>
