---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";

const metadata = {
  title: "Airplane - Helicopter - Tours | High Tide Aviation",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: "primary",
        text: "Choose Location",
        href: "/#locations",
        target: "_self",
        icon: "tabler:map-pin",
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    image={{
      src: "~/assets/images/high-tide-aviation-team-southport.jpg",
      alt: "Helicopter on the ground ready to take off",
    }}
  >
    <Fragment slot="title"> Let's Fly Above </Fragment>

    <!-- <Fragment slot="subtitle">
      <div class="dark:text-white bg-gray-200/70 text-primary rounded px-2 py-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum delectus dolorem assumenda officia officiis architecto a, quae sunt obcaecati placeat illo expedita praesentium ab blanditiis esse exercitationem!
      </div>
    </Fragment> -->
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget ************** -->

  <Features2
    id="locations"
    title="High Tide Tour Locations"
    tagline="Select a Coastline"
    columns={3}
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    items={[
      {
        title: "Southport, NC",
        description: "Airplane + Helicopter",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          text: "Explore",
          href: "/southport",
        },
        classes: {
          panel: "bg-southport-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-md lg:text-lg uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
      {
        title: "St Simons Island, GA",
        description: "Airplane Only",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          text: "Explore",
          href: "/st-simons-island",
        },
        classes: {
          panel: "bg-simons-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
      {
        title: "Beaufort, SC",
        description: "Airplane Only",
        icon: "tabler:map-pin",
        callToAction: {
          variant: "secondary",
          text: "Explore",
          href: "/beaufort",
        },
        classes: {
          panel: "bg-beaufort-tour bg-cover bg-center",
          title:
            "text-slate-700 text-2xl lg:text-3xl font-black m-0 p-0 uppercase dark:text-white",
          description:
            "text-slate-600 tracking-tighter font-bold text-lg lg:text-xl uppercase dark:text-white",
          icon: "text-slate-700 dark:text-white",
        },
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Ready to Fly?"
    tagline="4 Simple Steps"
    subtitle=`Booking and flying on a High Tide Aviation aerial tour is easier than you think. Book online in just a few easy steps or stop by one of <a href="#locations" class="text-sky-500 hover:underline">our locations</a>.`
    items={[
      {
        title: 'Step 1: <span class="font-medium">Select a location</span>',
        description:
          "Choose which coastline you’d like to fly over, from North Carolina to South Carolina to Georgia.",
        icon: "tabler:map-pin",
        classes: {
          icon: "text-gray-500",
        },
      },
      {
        title: 'Step 2: <span class="font-medium">Pick a tour</em>',
        description: `Each location has between three and six tour options. Read through each route and select the view you’d like most.`,
        icon: "tabler:checklist",
        classes: {
          icon: "text-gray-500",
        },
      },
      {
        title: 'Step 3: <span class="font-medium">Add passengers</span>',
        description:
          "There is no minimum passenger count for airplane tour bookings, but we do require a minimum of two passengers for helicopter tour bookings. Add and subtract passengers via the booking link once at checkout.",
        icon: "tabler:users-plus",
        classes: {
          icon: "text-gray-500",
        },
      },
      {
        title: 'Step 4: <span class="font-medium">Get ready to fly</span>',
        description: `Add your payment method & start the countdown to your flight! Upon checkout, you will receive an email confirmation and your tickets.`,
        icon: "tabler:check",
        classes: {
          icon: "text-gray-500",
        },
      },
    ]}
    image={{
      src: "~/assets/images/IMG_0470.jpg",
      alt: "Helicopter on the ground ready to take off",
    }}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from Our Guests"
    bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
    testimonials={[
      {
        testimonial: `Never been in a helicopter before, but this was one of the best experiences of my life! Our pilot, Paige, was super friendly, explained everything as it was happening, and gave me an AMAZING experience by letting me take part in controlling some of the flight - definitely recommend the Discovery add-on! I'd love to do this again if I visit the area in the future, and will be talking it up to family and friends!`,
        name: "Esther Zimmerman",
        job: "Cape Fear Discovery Tour",
      },
      {
        testimonial: `My Granddaughter and myself had an Awesome experience. The female pilot we had was great and allowed my Granddaughter to fly the Plane , I believe this will be an experience.That she will never forget. Thanks for making it a special  moment!!!`,
        name: "Steve Gamble",
        job: "St Simons Island Tour",
      },
      {
        testimonial: `A perfect way to celebrate a special occasion! We have done a helicopter tour and most recently a discovery flight (mini-flight lesson). All the staff have been excellent, made us feel very safe- lots of “checks” and careful attention to detail. There’s nothing like seeing our favorite island from a helicopter view! Spectacular!`,
        name: "Casey Berkshire",
        job: "Southport Discovery Flight",
      },
    ]}
    callToAction={{
      variant: "tertiary",
      target: "_self",
      text: "Read more testimonials",
      href: "/about/testimonials",
      icon: "tabler:chevron-right",
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "View Gift Cards",
        target: "_self",
        href: "/gift-cards",
      },
    ]}
    title=" Gift Cards Available"
    subtitle="Give the gift of a flight tour with a High Tide gift card."
    bg='<div class="absolute inset-0 bg-gift-card bg-cover bg-center" aria-hidden="true"></div>'
  />
</Layout>
