---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Choose Location',
        href: '/locations',
        target: '_self',
        icon: 'tabler:map-pin-heart',
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    image={{ src: '~/assets/images/IMG_0743.jpg', alt: 'Helicopter on the ground ready to take off' }}
  >
    <Fragment slot="title">
      Let's Fly Above
      <span class="text-secondary dark:text-white highlight">Southport</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
       Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages
      & Blogs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget ************** -->

  <Features2
    id="locations"
    title="From Our locations"
    tagline="Select a City"
    columns={3}
    items={[
      {
        title: 'Southport, NC',
        description: '1234 Lorem Ipsum St, 12345, Southport',
        icon: 'tabler:map-pin',
        callToAction: {
          variant: 'secondary',
          text: 'Book Now',
          href: '#',
          icon: 'tabler:calendar-event',
        },
      },
      {
        title: 'St. Simons Island, GA',
        description: '5678 Lorem Ipsum St, 56789, St. Simons Island',
        icon: 'tabler:map-pin',
        callToAction: {
          variant: 'secondary',
          text: 'Book Now',
          href: '#',
          icon: 'tabler:calendar-event',
        },
      },
      {
        title: 'Beaufort, SC',
        description: '9012 Lorem Ipsum St, 90123, Beaufort',
        icon: 'tabler:map-pin',
        callToAction: {
          variant: 'secondary',
          text: 'Book Now',
          href: '#',
          icon: 'tabler:calendar-event',
        },
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Ready to Fly?"
    tagline="4 Simple Steps"
    subtitle='Booking and flying on a helicopter tour is easier than you think. Book online in just a few easy steps or stop by one of our locations.'
    items={[
      {
        title: 'Step 1: <span class="font-medium">Select a location</span>',
        description:
          "Head over tour our tour location page where you can pick a state and city.",
        icon: 'tabler:map-pin',
      },
      {
        title: 'Step 2: <span class="font-medium">Pick a tour</em>',
        description:
          `Each location usually has around three to five tour options. Read through each route and select the view you’d like most.`,
        icon: 'tabler:checklist',
      },
      {
        title: 'Step 3: <span class="font-medium">Add passengers</span>',
        description:
        'We require a minimum of two passengers to fly. Per trip, we can take up to three passengers. If you are a party of more than 3 we can divide your party into equal groups.',
        icon: 'tabler:users-plus',
      },
      {
        title: 'Step 4: <span class="font-medium">Get ready to fly</span>',
        description: `Add your payment method & start the countdown to your flight! Upon checkout, you will receive an email confirmation and your tickets.`,
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/IMG_0470.jpg', alt: 'Helicopter on the ground ready to take off'
    }}
  />
</Layout>
