---
import Pricing2 from "../widgets/Pricing2.astro";
---

<Pricing2
  id="tours"
  title="Select from the tours below"
  bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
  prices={[
    {
      image: {
        src: "~/assets/images/beach-of-beaufort-sc.jpg",
        alt: "Helicopter on the ground ready to take off",
      },
      city: "Southport, NC",
      title: "Cape Fear Passport",
      btnSpace: true,
      subtitle: "Comprehensive aerial tour of Southport's landmarks.",
      price: 280,
      period: "per person",
      hasRibbon: true,
      ribbonTitle: "popular",
      items: [
        {
          description: "35 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "50 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Airplane or helicopter",
          icon: "tabler:cloud-heart",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32454/calendar/2024/05/?full-items=yes&flow=335644",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/southport/cape-fear-passport",
      },
    },
    {
      image: {
        src: "~/assets/images/high-tide-aviation-beach-lover-tour.jpg",
        alt: "beach view from airplane window",
      },
      city: "Southport, NC",
      title: "Beach Lover",
      subtitle: "Extensive tour of over 50 miles of beautiful beaches.",
      price: 450,
      period: "per person",
      items: [
        {
          description: "60 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "85 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Airplane or helicopter",
          icon: "tabler:cloud-heart",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32452/?full-items=yes&flow=335644&u=da3e79c0-d261-4c84-968c-c5d7b79f8038&from-ssl=yes&ga4t=&g4=yes&ad-adv=F6QBYONAWJEHZKKCQC2O6Z&ad-pix=6EWVJA72QFH3FFB5UCYBNK&cp=no&csp=no&back=https%3A%2F%2Fflyhightide.com%2Ffly-with-us-southport-nc%2Fscenic-air-tours%2F&language=en-us",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/southport/beach-lover",
      },
    },
    {
      image: {
        src: "~/assets/images/marshes-and-lighthouse-in-southport-nc.jpg",
        alt: "marshes-and-lighthouse-in-southport-nc",
      },
      city: "Southport, NC",
      title: "Bald Head Island",
      btnSpace: true,
      subtitle: "Tour the serene Bald Head Island from above.",
      price: 178,
      period: "per person",
      items: [
        {
          description: "20 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "30 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Helicopter or airplane",
          icon: "tabler:helicopter",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32461/?full-items=yes&flow=335644&u=da3e79c0-d261-4c84-968c-c5d7b79f8038&from-ssl=yes&ga4t=&g4=yes&ad-adv=F6QBYONAWJEHZKKCQC2O6Z&ad-pix=6EWVJA72QFH3FFB5UCYBNK&cp=no&csp=no&back=https%3A%2F%2Fflyhightide.com%2Ffly-with-us-southport-nc%2Fscenic-air-tours%2F&language=en-us",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/southport/bald-head-island",
      },
    },
    {
      image: {
        src: "~/assets/images/southport-lighthouse-tour-high-tide-aviation.jpg",
        alt: "southport-lighthouse-tour-high-tide-aviation",
      },
      city: "Southport, NC",
      title: "Lighthouse",
      subtitle: "Discover historic lighthouses of Southport.",
      price: 60,
      period: "per person",
      items: [
        {
          description: "12 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "15 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Helicopter or airplane",
          icon: "tabler:helicopter",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32464/?full-items=yes&flow=335644&u=da3e79c0-d261-4c84-968c-c5d7b79f8038&from-ssl=yes&ga4t=&g4=yes&ad-adv=F6QBYONAWJEHZKKCQC2O6Z&ad-pix=6EWVJA72QFH3FFB5UCYBNK&cp=no&csp=no&back=https%3A%2F%2Fflyhightide.com%2Ffly-with-us-southport-nc%2Fscenic-air-tours%2F&language=en-us",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/southport/lighthouse-tour",
      },
    },
    {
      image: {
        src: "~/assets/images/marshes-and-inter-coastal-southport-nc.jpg",
        alt: "marshes-and-inter-coastal-southport-nc",
      },
      city: "Southport, NC",
      title: "Oak Island",
      subtitle: "Aerial views of Oak Island’s lighthouses and shipwrecks.",
      price: 178,
      period: "per person",
      items: [
        {
          description: "20 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "30 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Helicopter or airplane",
          icon: "tabler:helicopter",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/hightidehelicopters/items/32463/?full-items=yes&flow=335644&u=da3e79c0-d261-4c84-968c-c5d7b79f8038&from-ssl=yes&ga4t=&g4=yes&ad-adv=F6QBYONAWJEHZKKCQC2O6Z&ad-pix=6EWVJA72QFH3FFB5UCYBNK&cp=no&csp=no&back=https%3A%2F%2Fflyhightide.com%2Ffly-with-us-southport-nc%2Fscenic-air-tours%2F&language=en-us",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/southport/oak-island",
      },
    },
    {
      image: {
        src: "~/assets/images/R44-on-flight-tour-in-southport-nc.jpg",
        alt: "R44-on-flight-tour-in-southport-nc",
      },
      city: "Southport, NC",
      title: "Custom Tour",
      subtitle: "Create your own adventure over Southport’s diverse landscapes",
      period: "Based on custom tour details",
      items: [
        {
          description: "Custom flight time",
          icon: "tabler:hourglass",
        },
        {
          description: "Custom mileage",
          icon: "tabler:ripple",
        },
        {
          description: "Helicopter or airplane",
          icon: "tabler:helicopter",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Contact Us",
        href: "/contact",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/southport/custom-tour-southport",
      },
    },
  ]}
/>
