---
import Pricing2 from "../widgets/Pricing2.astro";
---

<Pricing2
  id="tours"
  title="Select from the tours below"
  bg='<div class="absolute inset-0 bg-gradient-to-t from-slate-300 to-slate-400 dark:from-gray-800 dark:to-gray-900" aria-hidden="true"></div>'
  prices={[
    {
      image: {
        src: "~/assets/images/st-simons-island-lighthouse.jpg",
        alt: "lighthouse-st-simons-island-ga",
      },
      city: "St Simons Island, GA",
      title: "Lighthouse Tour",
      btnSpace: true,
      subtitle:
        "Fly past St Simons Island's historic lighthouse and coastline.",
      price: 80,
      period: "per person",
      items: [
        {
          description: "15 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "17 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Airplane only",
          icon: "tabler:plane-departure",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/327792/?full-items=yes&flow=615647",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/st-simons-island/lighthouse-tour",
      },
    },
    {
      image: {
        src: "~/assets/images/sidney-lanier-at-st-simons-island-ga-with-rainbow.jpg",
        alt: "Sidney Lanier Bridge at St Simons Island, GA",
      },
      city: "St Simons Island, GA",
      title: "Jekyll Island",
      subtitle: "Explore Jekyll Island’s historical and natural beauty.",
      price: 100,
      period: "per person",
      items: [
        {
          description: "20 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "25 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Airplane only",
          icon: "tabler:plane-departure",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/327860/?full-items=yes&flow=615647",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/st-simons-island/jekyll-island",
      },
    },
    {
      image: {
        src: "~/assets/images/sandbar-at-cumberland-st-simons-island-ga-high-tide-tours.jpg",
        alt: "Sandbar at Cumberland Island, St Simons, GA",
      },
      hasRibbon: true,
      ribbonTitle: "popular",
      city: "St Simons Island, GA",
      title: "Golden Isles Passport",
      btnSpace: true,
      subtitle:
        "Comprehensive aerial tour of the Golden Isles’ key attractions.",
      price: 140,
      period: "per person",
      items: [
        {
          description: "40 minutes of flight",
          icon: "tabler:hourglass",
        },
        {
          description: "50 miles of coastline",
          icon: "tabler:ripple",
        },
        {
          description: "Airplane only",
          icon: "tabler:plane-departure",
        },
      ],
      callToAction: {
        target: "_blank",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/flyhightide-ssi/items/327864/?full-items=yes&flow=615647",
      },
      callToAction2: {
        target: "_self",
        text: "More Details",
        href: "/st-simons-island/golden-isles-passport",
      },
    },
  ]}
/>
