---
import Layout from "~/layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";
import Hero3 from "~/components/widgets/Hero3.astro";
import Note from "~/components/widgets/Note.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import beaufortRoadmap from "~/components/common/beaufortRoadmap.astro";
import Image from "~/components/common/Image.astro";
import Pricing2 from "~/components/widgets/Pricing2.astro";
import BeaufortTours from "~/components/tours/BeaufortTours.astro";

const metadata = {
  title: "Barrier Island Tour | High Tide Aviation",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3
    reversed={true}
    actions={[
      {
        variant: "custom",
        text: "Book Now",
        href: "https://fareharbor.com/embeds/book/flyhightide/items/491350/?full-items=yes&flow=1034072&u=da3e79c0-d261-4c84-968c-c5d7b79f8038&from-ssl=yes&ga4t=&g4=yes&ad-adv=F6QBYONAWJEHZKKCQC2O6Z&ad-pix=6EWVJA72QFH3FFB5UCYBNK&cp=no&csp=no&back=https%3A%2F%2Fflyhightide.com%2Fscenic-air-tours-beaufort-sc%2F&language=en-us",
        target: "_blank",
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    openHours={[
      {
        weekday: "Monday - Thursday",
        time: "10:00 AM - 5:00 PM",
      },
      {
        weekday: "Friday - Saturday",
        time: "10:00 AM - 6:00 PM",
      },
      {
        weekday: "Sunday",
        time: "Closed",
      },
    ]}
    price={120}
    image={{
      src: "~/assets/images/happy-high-tide-student.jpg",
      alt: "happy couple on a helicopter tour",
    }}
  >
    <Fragment slot="title">
      Beaufort, SC
      <br />
      <span
        class="text-sky-400 text-5xl lg:text-7xl dark:text-sky-600 highlight"
      >
        Barrier Island</span
      >
    </Fragment>
    <Fragment slot="airport">
      <span class="text-sky-900 font-bold text-xl dark:text-sky-700 highlight"
        >Beaufort Executive Airport (KARW)</span
      ><br />
      <span class="text-gray-700 text-base dark:text-gray-100 highlight"
        >39 Airport Circle - Beaufort, SC</span
      >
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <div class="dark:text-white bg-gray-200/70 text-primary rounded px-2 py-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum delectus dolorem assumenda officia officiis architecto a, quae sunt obcaecati placeat illo expedita praesentium ab blanditiis esse exercitationem!
      </div>
    </Fragment> -->
  </Hero3>

  <!-- Note Widget ******************* -->
  <Note description="Our Beaufort, SC tours are only available via airplane." />

  <section id="tour-info" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-slate-300 to-gray-300 dark:from-slate-700 dark:to-gray-700 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-2xl text-center text-gray-700 dark:text-gray-300 font-semibold leading-7 w-full"
              >
                Airplane Only
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-slate-900 dark:text-slate-500 text-4xl w-full"
              >
                Barrier Island Tour
              </p>
              <p
                class="mt-6 text-center text-lg leading-8 text-gray-800 dark:text-gray-200 w-full"
              >
                Discover the serene beauty of the Barrier Islands on this scenic
                flight. Fly over Morgan Island, Harbor Island, Hunting Island,
                and St. Philip's Island, capturing the untouched splendor of
                these coastal gems.
              </p>
              <div
                class="flex flex-col justify-center items-center align-middle"
              >
                <h3
                  class="mt-7 uppercase italic text-3xl text-slate-800 dark:text-slate-400 font-black"
                >
                  Included
                </h3>
                <p class="mt-0 text-lg text-slate-500 font-semibold">
                  Notable tour sights
                </p>
                <ul class="mt-4 space-y-1">
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Morgan Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Harbor Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:plant-2" />
                    <span class="ml-2 font-medium"
                      >Hunting Island State Park</span
                    >
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:building-lighthouse" />
                    <span class="ml-2 font-medium"
                      >Hunting Island Lighthouse</span
                    >
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Fripp Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Pritchard's Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:beach" />
                    <span class="ml-2 font-medium">Bull Point Beach</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">St. Philip's Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:photo" />
                    <span class="ml-2 font-medium">Parris Island</span>
                  </li>
                  <li
                    class="flex justify-start align-middle items-center text-lg text-gray-800 dark:text-gray-200"
                  >
                    <Icon class="w-5 h-5" name="tabler:building-fortress" />
                    <span class="ml-2 font-medium">Fort Frederick</span>
                  </li>
                </ul>
                <div
                  class="mt-8 p-6 flex flex-col justify-center items-center align-middle bg-gray-200 dark:bg-gray-800 rounded-lg"
                >
                  <ul class="space-y-1">
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">40 miles | 30 minutes</span
                      >
                    </li>
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">Narrated by pilot</span>
                    </li>
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">Historic landmarks</span>
                    </li>
                    <li
                      class="flex justify-start align-middle items-center text-base text-gray-800 dark:text-gray-200"
                    >
                      <Icon class="w-6 h-6" name="tabler:circle-check-filled" />
                      <span class="ml-2 font-medium">Wildlife sightings</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="h-full w-full flex flex-col justify-center align-middle items-center"
          >
            <Image
              class="rounded shadow-lg"
              src="~/assets/images/beaufort-sc-tour-map-high-tide-aviation-aerial-tours.jpg"
              alt="tour-map-route"
            />
            <div
              class="mt-3 flex justify-center bg-gray-100 dark:bg-gray-900 font-semibold rounded p-6 shadow-lg w-full lg:w-1/2"
            >
              <ul role="list" class="space-y-3">
                <li>
                  <a
                    class="flex align-middle items-center hover:underline hover:text-[#d7532f] text-gray-800 dark:text-gray-200"
                    href="/beaufort/barrier-island"
                  >
                    <div class="mr-2 rounded h-5 w-5 bg-[#d7532f]"></div>
                    <span>Barrier Island</span>
                  </a>
                </li>
                <li>
                  <a
                    class="flex align-middle items-center hover:underline hover:text-[#492847] text-gray-800 dark:text-gray-200"
                    href="/beaufort/hilton-head"
                  >
                    <div class="mr-2 rounded h-5 w-5 bg-[#492847]"></div>
                    <span>Hilton Head Tour</span>
                  </a>
                </li>
                <li>
                  <a
                    class="flex align-middle items-center hover:underline hover:text-[#009c4e] text-gray-800 dark:text-gray-200"
                    href="/beaufort/low-country-passport"
                  >
                    <div class="mr-2 rounded h-5 w-5 bg-[#009c4e]"></div>
                    <span>Low Country Passport</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Location *********** -->
  <section id="location" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-slate-400 to-sky-700 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-gray-300 font-semibold leading-7 w-full"
              >
                Come Fly Over
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-slate-900 text-4xl w-full"
              >
                Beaufort, SC
              </p>
              <p
                class="mt-6 text-center text-lg leading-8 text-gray-100 w-full"
              >
                Our Beaufort, SC location is located at the Beaufort Executive
                Aiport (KARW) in Beaufort, South Carolina. Here, you’ll have
                access to all our airplane tours and further passage to the
                Hilton Head region of South Carolina. <strong
                  >Come visit us today!</strong
                >
              </p>
              <dl
                class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
              >
                <!-- <div class="relative">
              <a href="#" class="btn-red">Meet the Team</a>
            </div> -->
              </dl>
            </div>
          </div>
          <div class="h-full w-full flex justify-center align-middle">
            <iframe
              class="rouded"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.308246374628!2d-80.63964371586971!3d32.41090030631239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fc0d96cfb61a4b%3A0x682bf86deda375d2!2sHigh%20Tide%20Aviation%20Lowcountry%20Air%20Tours!5e0!3m2!1sen!2sco!4v1714956353392!5m2!1sen!2sco"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pricing Widget ******************* -->
  <BeaufortTours />
</Layout>
