---
import Layout from "~/layouts/PageLayout.astro";

import Hero3 from "~/components/widgets/Hero3.astro";
import Note from "~/components/widgets/Note.astro";
import Image from "~/components/common/Image.astro";
import BeaufortTours from "~/components/tours/BeaufortTours.astro";

const metadata = {
  title: "Beaufort, SC tours | High Tide Aviation",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3
    actions={[
      {
        variant: "primary",
        text: "Choose a Tour",
        href: "#tours",
        target: "_self",
      },
      /* { text: 'Learn more', href: '#features', icon: 'tabler:chevron-down'}, */
    ]}
    openHours={[
      {
        weekday: "Friday - Saturday",
        time: "10:00 AM - 5:00 PM",
      },
      {
        weekday: "Sunday - Thursday",
        time: "Closed",
      },
    ]}
    image={{
      src: "~/assets/images/high-tide-aviation-beaufort-sc-tours.jpg",
      alt: "high-tide-aviation-beaufort-sc-tours",
      loading: "eager",
    }}
  >
    <Fragment slot="title">
      Let's Fly Above
      <br />
      <span class="text-sky-400 text-6xl lg:text-7xl dark:text-white highlight"
        >Beaufort, SC</span
      >
    </Fragment>

    <Fragment slot="airport">
      <span class="text-sky-900 font-bold text-xl dark:text-sky-700 highlight"
        >Departs from Beaufort Executive Airport (KARW)</span
      ><br />
      <span class="text-gray-700 text-base dark:text-gray-100 highlight"
        >39 Airport Circle - Beaufort, SC</span
      >
    </Fragment>
    <Fragment slot="subtitle">
      <div class="dark:text-white text-primary text-2xl font-bold px-2 py-5">
        Airplane Only Tours
      </div>
    </Fragment>
  </Hero3>

  <!-- Note Widget ******************* -->

  <Note description="Our Beaufort, SC tours are only available via airplane." />

  <!-- Roadmap Widget **************** -->
  <section id="beaufort-roadmap">
    <div
      class="text- bg-gradient-to-b from-gray-100 to-gray-50 dark:from-slate-800 dark:to-slate-500 py-12 sm:py-24"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto w-full lg:mx-0">
          <h2
            class="xl:text-5xl text-4xl font-bold tracking-tight text-main-red text-center"
          >
            The High Tide Aviation Experience
          </h2>
          <p
            class="mt-4 text-lg leading-2 text-black dark:text-white text-center"
          >
            Fly over Beaufort, SC and experience airplane tours showcasing the
            region's landscapes and historic sites
          </p>
        </div>
        <div class="py-8">
          <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                1
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Lift off from Beaufort Executive Airport
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  Begin your tour at <strong
                    >Beaufort Executive Airport (KARW)</strong
                  >. Meet your pilot, board the plane, and prepare for takeoff.
                  Our Cessna 172s are equipped for comfort and safety, ensuring
                  a smooth start to your aerial adventure.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/tour-guide-with-guests-high-tide-aviation.jpg"
                alt="tour-guide-with-guests-high-tide-aviation"
              />
            </div>
          </div>

          <div
            class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
          >
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                2
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Explore Historic Sites
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  Fly over important landmarks such as <strong
                    >Hunting Island Lighthouse</strong
                  > and <strong>Fort Pulaski</strong>. These sites provide
                  insight into America’s coastal defense history and the
                  strategic military value of Beaufort, SC during historical
                  conflicts.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/Bodie-island-lighthouse-2.jpg"
                alt="Bodie-island-lighthouse"
              />
            </div>
          </div>

          <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                3
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Natural Wonders
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  Observe the Lowcountry’s ecosystems from above. The tour
                  includes views of extensive marshlands and intricate
                  waterways. Look for wildlife such as <strong>dolphins</strong>
                  and <strong>birds</strong>, which are common sights in these
                  habitats.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/dolphins-near-hilton-head-in-beaufort-sc-high-tide-aviation-tours.jpg"
                alt="dolphins-near-hilton-head-in-beaufort-sc-high-tide-aviation-tours"
              />
            </div>
          </div>

          <div
            class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
          >
            <div
              class="flex flex-col justify-center align-middle items-center w-full lg:w-1/2"
            >
              <h3
                class="text-4xl px-6 py-3 rounded-full bg-sky-500 text-white font-semibold"
              >
                4
              </h3>
              <div class="text-center pr-6">
                <h3
                  class="mt-5 text-3xl font-bold tracking-tight text-main-red"
                >
                  Stunning Coastlines
                </h3>
                <p
                  class="mt-4 px-4 lg:px-20 text-lg leading-2 text-gray-800 dark:text-white"
                >
                  The tour concludes with a route along Beaufort’s coastlines.
                  Fly past <strong>Hunting Island State Park</strong>,<strong>
                    Fripp Island</strong
                  > and<strong> Hilton Head Island</strong>. These areas are
                  known for their pristine beaches and tranquil beauty. Return
                  to the airport with memories of the spectacular coastal
                  scenery.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-center items-center w-full lg:w-1/2"
            >
              <Image
                class="object-cover rounded"
                src="~/assets/images/high-tide-tour-coastline-sunset.jpg"
                alt="high-tide-tour-coastline-sunset"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-tours-beaufort" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-sky-100 dark:from-sky-900 to-slate-500 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center justify-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-muted font-semibold leading-7 w-full"
              >
                Our Tours In
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-primary text-4xl w-full"
              >
                Beaufort, SC
              </p>
              <div
                class="mt-8 flex justify-center bg-gray-100 dark:bg-gray-900 font-semibold rounded p-6 shadow-lg w-full lg:w-1/2"
              >
                <ul role="list" class="space-y-3">
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#d7532f] text-gray-800 dark:text-gray-200"
                      href="/beaufort/barrier-island"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#d7532f]"></div>
                      <span>Barrier Island</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#492847] text-gray-800 dark:text-gray-200"
                      href="/beaufort/hilton-head"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#492847]"></div>
                      <span>Hilton Head Tour</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="flex align-middle items-center hover:underline hover:text-[#009c4e] text-gray-800 dark:text-gray-200"
                      href="/beaufort/low-country-passport"
                    >
                      <div class="mr-2 rounded h-5 w-5 bg-[#009c4e]"></div>
                      <span>Low Country Passport</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="h-full w-full flex justify-center align-middle items-center"
          >
            <Image
              class="rounded shadow-lg"
              src="~/assets/images/beaufort-sc-tour-map-high-tide-aviation-aerial-tours.jpg"
              alt="tour-map-route"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pricing Widget ******************* -->
  <BeaufortTours />

  <!-- Location *********** -->
  <section id="location" class="w-full">
    <div
      class="overflow-hidden bg-gradient-to-t from-slate-400 to-sky-700 py-4 sm:py-16"
    >
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="flex align-middle items-center">
            <div
              class="lg:max-w-lg flex justify-center flex-wrap text-white dark:text-gray-500"
            >
              <h2
                class="text-3xl text-center text-gray-300 font-semibold leading-7 w-full"
              >
                Come Fly Over
              </h2>
              <p
                class="mt-2 text-center lg:text-7xl font-bold tracking-tight text-slate-900 text-4xl w-full"
              >
                Beaufort, SC
              </p>
              <p
                class="mt-6 text-center text-lg leading-8 text-gray-100 w-full"
              >
                Our Beaufort location is located at the Beaufort Executive
                Aiport (KARW) in Beaufort, South Carolina. Here, you’ll have
                access to all our airplane tours and further passage to the
                Hilton Head region of South Carolina. <strong
                  >Come visit us today!</strong
                >
              </p>
              <dl
                class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
              >
                <!-- <div class="relative">
              <a href="#" class="btn-red">Meet the Team</a>
            </div> -->
              </dl>
            </div>
          </div>
          <div class="h-full w-full flex justify-center align-middle">
            <iframe
              class="rouded"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.308246374628!2d-80.63964371586971!3d32.41090030631239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fc0d96cfb61a4b%3A0x682bf86deda375d2!2sHigh%20Tide%20Aviation%20Lowcountry%20Air%20Tours!5e0!3m2!1sen!2sco!4v1714956353392!5m2!1sen!2sco"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
