<section id="become-a-pilot-road">
  <div class="bg-white py-16 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto w-full lg:mx-0">
        <h2
          class="xl:text-6xl text-5xl font-bold tracking-tight text-main-red text-center"
        >
          Obtaining an Instrument Rating
        </h2>
        <p class="mt-4 text-lg leading-8 text-black text-center">
          How to start training with Summit Flight Academy
        </p>
      </div>
      <div>
        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              01
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Beginning Training
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                The journey towards an Instrument Rating begins with intensive
                flight training at Summit Flight Academy. Our experienced
                Certified Flight Instructor Instruments (CFII) will guide you
                through this phase, ensuring you accumulate the required 50
                hours of cross-country flight time as the pilot in command
                (PIC), including 40 hours of dedicated instrument training.
                Throughout this process, you'll focus on developing the crucial
                skill of flying solely by reference to instruments, mastering
                the art of navigating various instrument approaches and holding
                patterns.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                Our state-of-the-art training facilities and well-maintained
                fleet of aircraft provide the ideal environment for you to build
                confidence and hone your skills. With the personalized attention
                of our CFII instructors, you'll be well-prepared to excel in
                your instrument rating exams and become a proficient
                instrument-rated pilot.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/instrument-roadmap-1.webp"
              alt="certified-instructor-explaining-instrument-training"
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              02
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Pass the Written Exam
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                At Summit Flight Academy, we understand the importance of a
                solid theoretical foundation for safe and knowledgeable
                instrument flying. Our comprehensive ground instruction will
                cover a wide range of topics, including aviation regulations,
                flight procedures, meteorology, aircraft systems, navigation,
                and weather interpretation. Our experienced instructors will
                guide you through these subjects, ensuring you grasp each
                concept thoroughly and are equipped with the knowledge needed to
                fly confidently and safely under Instrument Flight Rules (IFR)
                conditions.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                The written exam will test your understanding of aircraft
                performance, aerodynamics, and airspace, among other crucial
                topics. Our dedicated instructors will provide personalized
                support and resources to help you excel in this exam, laying the
                groundwork for your success as a skilled and responsible
                instrument-rated pilot.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="~/assets/images/high-tide-helicopter-on-beaufort.jpg"
              alt="High Tide Helicopter on Beaufort"
            />
          </div>
        </div>

        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              03
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Complete a Cross Country
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                A significant milestone in your Instrument Rating journey is the
                long instrument cross-country flight, which requires you to
                complete a minimum of 250 nautical miles along airways or
                ATC-directed routes. At Summit Flight Academy, we ensure you are
                well-prepared for this challenging task by providing ample
                practical training and experience.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                During this flight, you'll apply your instrument training in a
                dynamic and ever-changing environment, navigating through
                complex airspace, briefing approach charts and procedures, and
                demonstrating your ability to make sound decisions and adapt to
                various in-flight scenarios. Successful completion of this
                cross-country flight will solidify your proficiency in
                real-world instrument navigation and underscore your readiness
                to become a skilled and competent instrument-rated pilot.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="~/assets/images/high-tide-helicopter-on-beaufort.jpg"
              alt="High Tide Helicopter on Beaufort"
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              04
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Pass the Checkride
              </h3>
              <p class="text-lg leading-7 text-gray-800">
                The culmination of your Instrument Rating training at Summit
                Flight Academy is the checkride, a comprehensive evaluation of
                your theoretical knowledge and practical instrument flying
                skills. This rigorous examination consists of two components:
                the oral portion and the flight test.
              </p>
              <p class="mt-2 text-lg leading-7 text-gray-800">
                During the oral exam, you'll demonstrate your understanding of
                aviation regulations, procedures, and decision-making processes,
                showcasing your ability to apply this knowledge in real-world
                scenarios. The flight portion will require you to conduct
                instrument maneuvers, complete various types of instrument
                approaches, and communicate effectively throughout the
                evaluation.
              </p>
              <p class="mt-2 text-lg leading-7 text-gray-800">
                Our instructors' dedication and personalized attention will
                ensure you are fully prepared for this final challenge. Once you
                successfully pass the checkride, you'll emerge as a highly
                capable and confident instrument-rated pilot, ready to navigate
                the skies with proficiency and confidence, even in instrument
                conditions.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="~/assets/images/high-tide-helicopter-on-beaufort.jpg"
              alt="High Tide Helicopter on Beaufort"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
