---
import "~/assets/styles/tailwind.css";

import { I18N } from "astrowind:config";

import CommonMeta from "~/components/common/CommonMeta.astro";
import Favicons from "~/components/Favicons.astro";
import CustomStyles from "~/components/CustomStyles.astro";
import ApplyColorMode from "~/components/common/ApplyColorMode.astro";
import Metadata from "~/components/common/Metadata.astro";
import SiteVerification from "~/components/common/SiteVerification.astro";
import Analytics from "~/components/common/Analytics.astro";
import BasicScripts from "~/components/common/BasicScripts.astro";

// Uncomment line below to activate View Transitions
import { ViewTransitions } from "astro:transitions";

import type { MetaData as MetaDataType } from "~/types";

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px] scroll-smooth">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />

    <!-- <Analytics /> -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-LLPZRNV0EP"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-LLPZRNV0EP");
    </script>

    <!-- Uncomment line below to activate View Transitions -->
    <ViewTransitions fallback="swap" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "High Tide Aviation",
        "description": "High Tide Aviation is a full-service aviation company based in Southport, North Carolina. We offer flight training, aircraft rental, and aircraft maintenance services. 🛩️✈️🚁",
        "keywords": "airplane tours, helicopter tours, Southport, North Carolina, airplane, helicopter, flight training, aircraft rental, aircraft maintenance, aviation, pilot training, flight school, flight academy, aviation company, aviation services, aviation training, aviation maintenance, aviation rental, aviation school, aviation academy, aviation company, aviation services, aviation training, aviation maintenance, aviation rental, aviation school, aviation academy",
        "image": "https://flyhightide.com/_astro/HTA-logo.DuOU4FiH_W1rd9.webp",
        "logo": "https://flyhightide.com/_astro/HTA-logo.DuOU4FiH_W1rd9.webp",
        "telephone": "+19104771926",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "4345 Airport Road SE",
          "addressLocality": "Southport",
          "addressRegion": "NC",
          "addressCountry": "US",
          "postalCode": "28461"
        },
        "currenciesAccepted": "USD",
        "paymentAccepted": "Cash, Credit Card, Visa, Mastercard, American Express, Discover, Checks",
        "areaServed": {
          "@type": "GeoCircle",
          "geoMidpoint": {
            "@type": "GeoCoordinates",
            "latitude": 33.937778120276356,
            "longitude": -78.06462908650822
          },
          "geoRadius": 9000
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "reviewCount": "27"
        },
        "url": "https://hightideaviation.com/",
        "priceRange": "$",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 33.937778120276356,
          "longitude": -78.06462908650822
        },
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday"],
            "opens": "10:00",
            "closes": "17:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": ["Friday", "Saturday"],
            "opens": "10:00",
            "closes": "18:00"
          }
        ]
      }
    </script>
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
